<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mimimimetr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div th:insert="~{parts/parts :: navbar} "></div>
<div class="d-flex" id="vote">
    <div class="container text-center my-4">
        <br>
        <h2 style="color: white">Collections List</h2>
        <br>
        <form method="get" th:action="chooseCollection">
            <div id="carouselControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner shadow">
                    <div class="carousel-item active">
<!--                        <div class="card text-center">-->
                            <img th:src="@{/img/} + ${collectionsList[0].tag} + '/' + ${collectionsList[0].filename}" class="d-block" alt="...">
<!--                        </div>-->
                        <div class="carousel-caption">
                            <a th:href="'/vote/' + ${collectionsList[0].tag}" class="btn btn-danger stretched-link" th:text="${collectionsList[0].tag}">Collection name</a>
                        </div>
                    </div>
                    <div class="carousel-item" th:each="field : ${collectionsList}" th:if="${field != collectionsList[0]}">
<!--                        <div class="card text-center">-->
                            <img th:src="@{/img/} + ${field.tag} + '/' + ${field.filename}" class="d-block" alt="...">
<!--                        </div>-->
                        <div class="carousel-caption">
                            <a th:href="'/vote/' + ${field.tag}" class="btn btn-danger stretched-link" th:text="${field.tag}">Collection name</a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"  data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls"  data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!--                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" focusable="false">.-->
                <!--                                <rect width="100%" height="100%" fill="#55595c"></rect>-->
                <!--                            </svg>-->
            </div>
        </form>
    </div>
</div>
<br>
<div class="container text-center mt-5">
    <h2>Choose collection to vote.</h2>
    <br>
    <h3>Here you can vote for your favorite photos and see the most popular ones from other users, as well as create your own collection for voting.</h3>
</div>
</body>
</html>