<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mimimimetr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div th:insert="~{parts/parts :: navbar} "></div>
<div class="d-flex" id="vote">
    <div class="container text-center my-4">
        <br>
        <h2 style="color: white" th:text="'Collection &quot' + ${tag} + '&quot.'">Collection name</h2>
        <br>
        <h3 th:if="${#maps.isEmpty(collectionTemp)}">Collection is empty.</h3>
        <form method="post" th:action="'/collection/' + ${tag}" enctype="multipart/form-data">
            <label>
                <input type="text" class="form-control" name="name" th:value="${name}" placeholder="Enter name" required>
            </label>
            <input type="file" class="btn btn-secondary" name="file" value="Choose File" required>
            <h3 th:if="${error}" th:text="${error}"></h3>
            <input type="submit" class="btn btn-danger" value="Add">
        </form>

        <form th:action="'/collection/' + ${tag} + '/save'" method="post">
            <h3 th:if="${redirectError}" th:text="${redirectError}"></h3>
            <button class="btn btn-primary" type="submit">Save collection</button>
        </form>

        <div class="row" th:each="comparableElement : ${collectionTemp}">
            <div class="col-9">
                <div class="card col-4">
                    <img th:src="'/img/' + ${tag} + '/' + ${comparableElement.key}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${comparableElement.value}">Name</h5>
                        <form th:action="'/collection/' + ${tag} + '/remove'" method="post">
                            <input type="hidden" name="comparableElementKey" th:value="${comparableElement.key}">
                            <button class="btn btn-primary" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>