<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mimimimetr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="text-center mt-5 my-4">
    <h2>Create a new account.</h2>
    <form th:action="@{/registration}" method="post">
        <div><label><input type="text" class="form-control mt-2" name="username" placeholder="Enter username" required autofocus/></label></div>
        <div><label><input type="password" class="form-control mt-2" name="password" placeholder="Enter password" required/></label></div>
        <div><input type="submit" class="btn btn-danger mt-2" value="Sign up"></div>
        <div><a href="/login" type="button" class="btn btn-secondary mt-2">Log in</a></div>
    </form>
    <div th:if="${message != null}">
        <h3 class="mt-4" th:text="${message}"></h3>
    </div>
</div>
</body>
</html>