<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Мимимиметр</title>
</head>
<body>
<h3>Список пользователей:</h3>
<form method="get" th:action="user">
    <table>
        <thead>
        <tr>
            <th>Имя:</th>
            <th>Роли:</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${#strings.setJoin(user.roles, ', ')}"></td>
            <td><input type="submit" th:formaction="@{user/} + ${user.id}" value="Редактировать"></td></tr>
            <p></p>
        </tr>
        </tbody>
    </table>
</form>
<a href="/main">Вернуться на главную страницу</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выход"/>
</form>
</body>
</html>