<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mimimimetr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div th:insert="~{parts/parts :: navbar} "></div>
<div class="d-flex" id="userlist">
    <div class="container text-center my-4">
        <br>
        <h2 style="color: white">User List</h2>
        <br>
        <form method="get" th:action="user">
            <table>
                <thead>
                <tr>
                    <th>Name:</th>
                    <th>Roles:</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${#strings.setJoin(user.roles, ', ')}"></td>
                    <td><input type="submit" th:formaction="@{user/} + ${user.id}" value="Edit user"></td></tr>
                <p></p>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<br>
<div class="container text-center mt-5">
    <h2>List of all registered users.</h2>
    <br>
    <h3>Here you can vote for your favorite photos and see the most popular ones from other users, as well as create your own collection for voting.</h3>
</div>
</body>
</html>