<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mimimimetr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div th:insert="~{parts/parts :: navbar} "></div>
<div class="container-fluid text-center" id="vote">
    <form method="post" th:action="'/vote/' + ${comparableElement1.tag}">
        <div class="display-3 pt-3 pt-md-5" style="color: white">Which one do you like better?</div>
        <div class="row justify-content-center mx-0 mt-3 mt-md-5" id="image">
            <div class="col-6 col-md-5 col-xl-4">
                <div class="card h-100 shadow mx-md-3">
                    <img th:src="@{/img/} + ${comparableElement1.tag} + '/' + ${comparableElement1.filename}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button type="submit" class="btn btn-secondary" name="button1" th:text="${comparableElement1.name}">First comparableElement name</button>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-5 col-xl-4">
                <div class="card h-100 shadow mx-md-3">
                    <img th:src="@{/img/} + ${comparableElement2.tag} + '/' + ${comparableElement2.filename}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button type="submit" class="btn btn-secondary" th:text="${comparableElement2.name}">Second comparableElement name</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="comparableElement1Id" th:value="${comparableElement1.id}">
        <input type="hidden" name="comparableElement2Id" th:value="${comparableElement2.id}">
    </form>
</div>
<div class="container d-flex text-center align-items-center" style="height: 45vh">
    <div>
        <div class="display-3">Choose your favourite</div>
        <div class="h2 mt-xl-4 mt-lg-3 mt-md-2 mt-1">Here you can vote for your favorite photos and see the most popular ones from other users, as well as create your own collection for voting.</div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
</body>
</html>